/*Created 2015-07-31 by Rajbir Karan Singh*/

.site_container{
    width: 1040px;
    margin-left:auto;
    margin-right:auto;
}

.top_logos{
    margin-bottom:35px;    
}

.main_logo{
    width:200px;
}

.logo_2{
    width:231px;
    float:right;
    margin-top:40px;
}

#menu{
    margin-bottom:13px;
}

#menu a{
    font-family: 'EB Garamond', serif;
    font-size:22px;
    color:#000;
}

#menu a:hover, #menu a:focus{
    text-decoration:none;
}

.align_center{
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}