/*Created 2015-07-31 by Rajbir Karan Singh*/

.hide_phone{
    display:block;
}

.visibility_hidden{
    visibility:hidden;
}

.middle_align{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.font_18{
    font-size: 18px !important;
}

.width_100{
    width:100%;
}
.img_auto{
    max-width: 100%;
    max-height: 100%;
}

.store_middle{
    height:134px;    
}

.display_table{
    display:table;
}

.display_cell{
    display:table-cell;
}

.green_bar{
    background:#7abfc7;
    height:40px;
    margin-bottom:14px;
}

.font_19{
    font-size:19px !important;
}
.menu_divider{
    width:138.8px;
    height:10px;
    float:left;
}

.hidden_now{
    display:none;    
}

.page_header{
    margin-bottom:36px !important;   
    text-transform:uppercase;
}

.show_phone{
    display:none;
}

a:hover, a:focus{
    text-decoration:none;
    color:inherit;
}
a{
    color: inherit;
}

.full_width{
    width:100%;
}

.navbar-default{
    background-color: #fff;
    border:0; 
    margin-bottom:0;
}
.custom_backdrop{
    opacity:0.5;
    background:#fff;
    text-align:center;
}
.flexslider{
    border:0;
    margin-bottom:14px;
}

.flex-direction-nav a{
    height:45px    
}

.flex-control-paging li a{
    height:16px;
    width:16px;
    background: #ded8d3;
    box-shadow: none;
}

.flex-control-paging li a.flex-active{
    background: #fff;
}

.flex-control-nav{
    bottom:20px;
}

.custom_backdrop img{
    width:80px;
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.yield{
    display:none;
}

.site_container{
    width: 1040px;
    margin-left:auto;
    margin-right:auto;
}

.top_logos{
    margin-bottom:37px;    
}

.main_logo{
    width:200px;
}

.logo_2{
    width:231px;
    float:right;
    margin-top:58px;
}

#menu{
    margin-bottom:13px;
}

#menu a{
    font-family: 'EB Garamond';
    font-size:22px;
    color:#000;
}

#menu a:focus{
    color:#ccc;
    color:rgba(0,0,0,.5);
}

.no_margin{
    margin:0 !important;
}

.align_center{
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dropdown-menu{
    border: 0;
    box-shadow: none;
    padding-top: 20px;
    width: 208px;
    border-radius: 0;
    padding-bottom: 15px;
}

.dropdown-menu>li>a{
    font-size:20px !important;
}

.footer{
    color: #fff;
    background: #000;
    padding: 20px 25px;
    font-size:13px;
}

.footer a{
    color: #fff;
}

.footer img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-top:-5px;
}

.feature_row{
    margin-left:-7px;
    margin-right:-7px;
    margin-bottom:14px;
}

.feature_column{
    float:left;
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 7px;
    padding-left: 7px;
}

.newsletter_box{
    background: #7abfc7;
    height:172px;
    padding:20px;
}

.giftcards_box{
    background: #ded8d3;
    height:172px;
    padding:20px;
    text-align:center;
}

.giftcards_box img{
    width:150px;
}
.banner_hours{
    width:100%;
    margin-bottom:28px;
}
.newsletter_header{
    margin-top: 0;
    margin-bottom: 15px;
    color:#fff;
    font-weight:bold;
    font-size:18px;
}
.giftcards_header{
    margin-top: 0;
    margin-bottom: 15px;
    color:#000;
    text-align:center;
    font-weight:bold;
    font-size:18px;
}

.newsletter_box p{
    font-size:16px;
}

#newsletter_email{
    padding: 5px;
    border: 0;
    height: 30px;
    width: 185px;
    border-radius:0;
    margin-right: 10px;
}

.btn_mp{
    color: #fff;
    background-color: #7abfc7;
    border: 2px solid;
    height: 30px;
    width: 96px;
    border-radius:0
}

.check_text{
    font-weight: normal;
    margin-top: 10px;
    font-size: 12px;
}

.check_text input{
    margin-right:5px;
}

.hours_box{
    background: #cf717d;
    height:172px;
    padding:20px;
}

.hours_header{
    margin-top: 0;
    margin-bottom: 15px;
    color:#000;
    font-weight:bold;
    font-size:18px;
    display:inline-block;
}

.check_hours{
    font-family: 'EB Garamond';
    font-size:18px;
    text-decoration:underline;
    display:inline-block;
    margin-left:10px;
    margin-bottom:15px;
}

.hours_home{
    margin-top: -10px;
    font-size: 19px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
}

.call_mp_home{
    font-family: 'EB Garamond';
    font-size:20px;
}

.call_mp_home a:hover,.check_hours a:hover{
    color:#000;
}

.feature_header{
    font-family: 'EB Garamond';
    font-size:22px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 14px;
    text-align: center;
}

.feature_header_blog{
    font-family: 'EB Garamond';
    font-size:22px;
    margin-top: 16px;
    padding-bottom: 12px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 14px;
    text-align: center;
}

.store_details_container{
    margin-top:13px;
    margin-bottom:32px;
    border-top:2px solid #ccc;
    border-bottom:2px solid #ccc;
    height:158px;
}

.store_details_container img{
    max-height:134px;
    max-width:134px;
}

.feature_insider{
    margin-left:-5px;
    margin-right:-5px;
}

.feature_insider_left{
    width: 130px;
    float: left;
    padding: 0 5px;
}

.feature_insider_right{
    width: 216px;
    float: left;
    padding: 0 5px;
}

.feature_image{
    max-width:120px;
    max-height:160px;
}

.feature_2_header{
    margin-top: 8px;
    font-size: 18px;
    color: #cf717d;
    font-weight: bold;
    margin-bottom:5px;
}

.store_list_heading {
    margin-top: 15px;
    font-size: 18px;
    color: #cf717d;
    font-weight: bold;
    margin-bottom: 36px;
}

.store_list_heading2 {
    font-size: 18px;
    color: #cf717d;
    font-weight: bold;
    margin-bottom: 32px;
    margin-top: 0;
}
.hours_container{
    width:100%;
    margin-bottom:36px;
}

.hours_container td{
    padding:10px 0;
}
.hours_container .hours_left{
    width:75%;
    overflow: hidden; 
    white-space: nowrap 
}


.hours_container .hours_right{
    width:25%;
    overflow:hidden;
    padding-left:5px;
}

.dashes{
    border-bottom:2px dotted #ccc;
    display:inline-block;
    width:100%;
}
.hours_heading{
    font-size: 19px;
    color: #cf717d;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.parking_header{
    margin-top:15px;
    margin-bottom:44px;
}

.floor_plan{
    margin-top: 15px;
    font-size:15px;
    margin-bottom:36px;
    color: #cf717d;
    text-decoration:underline;
    display:inline-block;
}

.left_promo_div{
    width: 164px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.promo_circle{
    color: #cf717d;
    font-size: 16px;
    width:25px;
}

.store_initial{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
    margin-top: 42px;
}
.store_list_promo{
    margin-bottom:36px;
    font-size:16px;
}
.store_row{
    margin-bottom:10px;
}
.store_list_headers{
    font-size:16px;
    font-weight:500;
    display:inline-block;
    margin-bottom:0;
}

.store_list_name{
    font-size: 16px;
    text-decoration: underline;
}

.store_list_name a:hover{
    color:#000;
}
.store_list_details{
    font-size: 16px;
}

.store_name{
    font-size:19px;
    font-weight:500;
}
.store_website{
    font-size:16px;
}

.store_website a{
    color:#000;
}

.feature_2_dates{
    font-size:16px;
    margin-bottom:5px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a{
    font-size:20px;
}

.feature_2_description{
    font-weight:200;
}

.read_more{
    font-family: 'EB Garamond';
    font-size:14px;
    color:#cf717d;
    text-decoration:underline;
}

.read_more:hover{
    color:#cf717d;
    text-decoration:underline;
}

.social_footer{
    float:right;
    margin-left: -4px;
    margin-right: -4px;
}

.social_footer a{
    padding:0 4px;
}
.menu_link{
    float:left;
}


.page_main_container{
    margin:0 -6.5px;    
}

.marker {
    background: url("http://assets.kodekloud.io/sites/55bba30d6e6f64157e000000/0d83e540b9f2c2dcd06ea629819eea1e/location_indicator_map.png") no-repeat;
    cursor: pointer;
    display: block;
    height: 40px;
    margin-top: 60px;
    outline: medium none;
    text-indent: -9999px;
    width: 32px;
}
.page_left{
    width:703px;
    float:left;
    padding:0 6.5px;
}
.page_right{
    width:350px;
    float:left;
    padding:0 6.5px;
}

.page_right .feature_box{
    margin-bottom:13px;
}

.promo_name{
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin-bottom:0;
}

.promo_date{
    font-weight:500;
    font-size:16px;
}

.promo_desc{
    font-size:16px;
}

.promo_separator{
    margin-top:28px;
    border-top:2px solid #ccc;
    padding-bottom:28px;
    margin-bottom:0;
}
.jobs_separator{
    margin-top:21px;
    border-top:2px solid #ccc;
    padding-bottom:21px;
    margin-bottom:0; 
}

.closing_date{
    color:#cf717d;
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0;
}

.careers_heading{
    margin-top: 15px;
    font-size: 19px;
    color: #cf717d;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 17px;
    margin-bottom: 17px;
}

.jobs_arrow{
    position: absolute;
    left:65%;
    color: #cf717d;
}

.job_div{
    font-size:16px;    
}


.jobs_header{
    font-size: 19px;
    color: #000;
    font-weight: bold;
    margin-top:0;
    position: relative;
}

.promo_heading {
    margin-top: 15px;
    margin-bottom: 40px;
}

.promo_container{
    margin-left:-24px;
    margin-right:-24px;
}


.promo_one, .promo_two{
    padding: 0 24px;
    width:50%;
    float:left;
}

.promo_two{
    text-align:center;
}

.promo_container:nth-child(even) .promo_one{
   float: right;
}

.promo_container:nth-child(even) .promo_two{
   text-align: center;
}

.promo_box_separator{
    margin: 25px 24px;
    border-bottom:2px solid #ccc;
}

.blog_box_separator{
    margin: 28px 24px;
    margin-bottom:32px;
    border-bottom:2px solid #ccc;
}

.promo_name_header{
    font-size: 19px;
    color: #cf717d;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.description{
    font-size:16px;
    word-wrap: break-word;
}

.details_header{
    font-size:45px;
    margin-top:15px;
    margin-bottom:0;
    line-height:35px;
}

.details_dates{
    margin: 32px 0;
    font-size: 19px;
    color: #cf717d;
}

.details_store_name{
    font-size: 18px;
    word-wrap: break-word;
    margin-top:32px;
    margin-bottom:32px;
}

.details_description{
    font-size:18px;
    margin-bottom: 25px;
}

.details_share_icons{
    width: 26px;
    margin-top: -14px;
    margin-left: 4.5px;
    margin-right: 4.5px;
}

#fashion_images_container{
    margin: 25px 0;
    text-align:center;
}
.fashion_heading{
    font-size: 16px;
    color: #cf717d;
    margin:10px 0;
}

.fashion_img_container{
    height:300px;
    overflow:hidden;
    position:relative;
}

.fashion_img_container img{
    width: 100%;
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.blog_header{
    padding-bottom:13px;
    margin-bottom:32px;
    border-bottom: 2px solid #ccc;
    
}
.blog_heading{
    color: #cf717d;
    font-weight:bold;
    font-size:19px;
    margin-top:0;
    margin-bottom:26px;
    text-transform: uppercase;
}

.blog_name_header{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    line-height: 25px;
}

.blog_description{
    font-size:18px;
    word-wrap: break-word;
}

.blog_read_more{
    font-family: 'EB Garamond';
    font-size:18px;
    color:#cf717d;
    text-decoration:underline;
}

@media(max-width:1024px){
    .site_container{
        width:100%
    }
    .feature_insider_right{
        width:210px;
    }
    .page_right{
        float:right;
    }
    .page_left{
        width:610px;
    }
}
@media(max-width:800px){
    .hours_container .hours_left{
        width:50%;
    }
    .hours_container .hours_right{
        width:50%;
        text-align:right;
    }
    .dashes{
        display:none;
    }
    .footer{
        text-align:center;
    }
    #menu{
        display:none
    }
    #menu_mobile{
        font-family: 'EB Garamond';
        font-size:20px;
    }
    .feature_row{
        margin:0;
    }
    .feature_column{
        width:100%;
        margin-bottom:10px;
    }
    .social_footer{
        float:none;
        text-align:center;
    }
    .main_logo{
        width:170px;
    }
    .logo_2{
        width:170px;
        margin-right:10px;
    }
    .show_phone{
        display:block;
    }
    .hide_phone{
        display:none;
    }
    .navbar-toggle{
        float:none;
        margin:10px 0;
        width:98%;
    }
    .top_logos{
        margin-bottom:0;
    }
    .navbar-toggle .icon-bar{
        margin:0 auto;
    }
    .center_menu li{
        text-align:center;
    }
    
    .page_main_container{
        margin:0;
    }
    .page_left, .page_right{
        width:100%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .flex-direction-nav a{
        display:none;
    }
    .main_logo{
        width:140px;
    }
    .logo_2{
        width:140px;
        margin-right:10px;
    }
    #newsletter_email{
        width:165px;
    }
    .btn_mp{
        width: 90px;
        padding: 0
    }
    .check_text{
        font-size:10px;
    }
    .feature_insider_right{
        width:180px;
    }
    .newsletter_box p{
        font-size:14px;
    }
}
